<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hacettepe_Telekom.Properties.Settings.Hacettepe_TelekomConnectionString"
            connectionString="Data Source=KEREM_YEREBAKAN;Initial Catalog=Hacettepe_Telekom;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>